/* Contact Form */

body {
  margin-top: 56px;
}

.scroll {
  scroll-margin-top: 56px;
  text-align: center;
}

.background-image { 
    Background-position: top;
    background-image: url("../Images/business structure concept.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 600px;
    position: relative;
}

#hero {
  padding: 0;
  margin: 0;
}

.hero {
  position: absolute;
  bottom: 1%;
  right: 5%;
  background-color: #5d869778;
  z-index: 1;
  min-height: 56px;
}

.card img:hover {
  cursor: pointer;
}

#contact {
    background-color: #faf6f6;
    color: #b7b6b6;
    padding: 50px 0;
  }

  a:hover {
    -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    background-color: var(--NAV--LINK-HOVER);
}
  
  #contact h2 {
    color: #060605;
    text-align: center;
  }
  
  #contactForm {
    max-width: 600px;
    width: 100%; 
    margin: 0;    
  }
  
  #contactForm label {
    margin-bottom: 0.5rem;
    color: #353432;
  }
  
  #contactForm input,
  #contactForm textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #3e50f1;
    background-color: #ffffff;
    color: #141313;
  }
  
  #contactForm textarea {
    resize: vertical; /* Allow vertical resizing */
  }
  
  #contactForm button {
    background-color: rgb(20, 98, 255);
    color: #edecf3;
    padding: 0.75rem 1.5rem;
    border: none;
    cursor: pointer;
  }
  
  #contactForm button:hover {
    background-color: #0949c8;
    color: #ffff;
  }

  /* .map-container --> map-container */
  .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map-container iframe{
    left:0;
    top:0;
    height:50%;
    width:50%;
    position:absolute;
  }

  /* .footer --> footer */
  footer {
    padding: 30px;
    clear: both;
    text-align: center;
  }
  
  footer h3 {
    font-size: 15px;
  }
