/* Contact Form */

#contact {
    background-color: #faf6f6;
    color: #fff;
    padding: 50px 0;
  }
  
  #contact h2 {
    color: #060605;
  }
  
  #contactForm {
    max-width: 600px;
    width: 100%; 
    margin: 0;    
  }
  
  #contactForm label {
    margin-bottom: 0.5rem;
    color: #353432;
  }
  
  #contactForm input,
  #contactForm textarea {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #192cda;
    background-color: #fcf6f6;
    color: #141313;
  }
  
  #contactForm textarea {
    resize: vertical; /* Allow vertical resizing */
  }
  
  #contactForm button {
    background-color: #2c60c8;
    color: #edecf3;
    padding: 0.75rem 1.5rem;
    border: none;
    cursor: pointer;
  }
  
  #contactForm button:hover {
    background-color: #fff;
    color: #f7f7f7;
  }
